.appNav {
    display: flex;
    padding: 0px 20px;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    background-color: #0f1014;
    color: white;
    list-style-type: none;
    height: 60px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-top: 2px;
}

:global(.active) {
    background-color: white;
    color: #0f1014;
    padding: 2px;
    border-radius: 2px;
}

.mt {
    display: flex;
    gap: 20px;
}

.profile {
    cursor: pointer;
}

.search {
    display: flex;
    gap: 50px;
    align-items: center;
}