.details {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: "Montserrat", sans-serif;
    width: 40vw;
    padding-top: 40px;
}

.details>h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tagline {
    font-size: large;
    margin-left: 8px;
}

.genreBlock {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    padding-right: 30px;
    justify-content: space-between;
}

.add {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.addToList {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: black;
    width: 150px;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-top: 5px;
    gap: 10px;
}

.cptr {
    cursor: pointer;
}

.options {
    display: flex;
    gap: 10px;
}