.results {
    position: absolute;
    left: -30px;
    top: 54px;
    z-index: 10;

    height: 60vh;
    width: 50vw;
    overflow: auto;
    overflow-x: hidden;
    background-color: #0f1014;
    padding: 10px 10px;

}

.searchList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
}

/****/




.results::-webkit-scrollbar {
    width: 12px;
}

.results::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.results::-webkit-scrollbar-thumb {
    background-color: #867a7a;
    border-radius: 6px;
}

.results::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}